.Info h1{
    font-size: 240px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.Info p{
    font-size: 72px;
    text-align: center;
}
.backHome a{
    font-size: 36px;
    text-decoration: none;
    color: #252525;
}
.backHome{
    margin-top: 40px;
    text-align: center;

}